* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  opacity: 1.0;
}

window#waybar{
  all:unset;
  padding:0px;
  background: #101319;
}

.modules-left {
  padding:4px;
}

.modules-center {
  padding:4px;
}

.modules-right {
  padding:4px;
}


#clock, #battery, #pulseaudio, #network, #disk, #memory, #cpu, #temperature  {
  padding: 0 4px;
  margin: 0 4px;
  background: #101319;
  padding-right: 8px;
  padding-left: 16px;
  margin-right: 4px;
  margin-left: 4px;
}

#workspaces {
  padding: 0px 4px;
}

#workspaces button {
  all:unset;
  padding: 0px 4px;
	color: #bcc6e3;
  transition: all .2s ease;
  background: #101319;
  padding-right: 8px;
  padding-left: 16px;
  margin-right: 4px;
  margin-left: 4px;
}

#workspaces button:hover {
	color: #5b6078;
  border: none;
  transition: all 1s ease;
}

#workspaces button.active {
  color: #56b8f7;
}

#workspaces button.empty {
	color: #5b6078;
}

#workspaces button.empty:hover {
	color: #5b6078;
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: #56b8f7;
}

#clock {
	color: #56b8f7;
  margin-left: 16px;
}

#battery {
	color: #83C092;
  margin-right: 16px;
}

#battery.critical {
  color: #fb80aa;
  margin-right: 16px;
}

#temperature {
	color: #5b6078;
}

#pulseaudio {
	color: #5b6078;
}

#network {
	color: #5b6078;
}

#disk {
	color: #5b6078;
}

#memory {
	color: #5b6078;
}

#cpu {
	color: #5b6078;
}
