* {
  all:unset;
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  opacity: 1.0;
}

window.top_bar {
  all:unset;
  background: #292a37;
  /*background: transparent;*/
}

window.top_bar .modules-left {
  margin-left: 20px;
}

window.top_bar .modules-center {
}

window.top_bar .modules-right {
  margin-right: 20px;
}


#custom-separator {
  color: #83C092;

}

#custom-separator_dot {
  color: #83C092;
}

#clock.time {
  color: #9699b7;
}

#clock.week {
  color: #b77ed1;
}

#clock.month {
  color: #b77ed1;
}

#clock.calendar {
  color: #56b8f7;
}


#workspaces {
  font-weight: bold;
  margin: 5px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: #9699b7;
}

#workspaces button.empty {
  color: #44465c;
}

#workspaces button.active {
  color: #d9e0ee;
  background: #44465c;
  border-radius: 5px;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*padding: 10px;*/
}


 #clock.time,#bluetooth,#network,#pulseaudio,#temperature,#battery {
  color: #9699b7;
  background: #44465c;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
}

#battery {
  margin-right: 0px;
}

#battery.critical {
  color: #9699b7;
}


