* {
  all:unset;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  opacity: 1.0;
}

window.top_bar {
  all:unset;
  padding:0px;
  /*background: #1e1e2e;*/
  background: rgba(30, 30, 46, 0.9);
}

window.top_bar .modules-center {
  font-weight: bold;
  /*background-color: #313245;*/
  background-color: rgba(49, 50, 69, 0.9);
  /*color: #313245;*/
  color: rgba(49, 50, 69, 1);
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#custom-separator {
  /*color: #a6e3a1;*/
  color: rgba(166, 227, 161, 0.9);
}

#custom-separator_dot {
  /*color: #a6e3a1;*/
  color: rgba(166, 227, 161, 0.9);
}

#clock.time {
  /*color: #f38ba8;*/
  color: rgba(243, 139, 168, 0.9);
}

#clock.week {
  /*color: #cba6f7;*/
  color: rgba(203, 166, 247, 0.9);
}

#clock.month {
  /*color: #cba6f7;*/
  color: rgba(203, 166, 247, 0.9);
}

#clock.calendar {
  /*color: #89b4fa;*/
  color: rgba(137, 180, 250, 0.9);
}

#workspaces {
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 4px;
}

#workspaces button {
  /*color: #313245;*/
  color: rgba(49, 50, 69, 0.9);
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces button.empty {
  /*color: #313245;*/
  color: rgba(49, 50, 69, 0.9);
}

#workspaces button.active {
  /*color: #f38ba8;*/
  color: rgba(243, 139, 168, 0.9);
}

#bluetooth {
  /*color: #94e2d5;*/
  color: rgba(148, 226, 213, 0.9);
  margin-left: 8px;
  margin-right: 8px;
}

#network {
  /*color: #cba6f7;*/
  color: rgba(203, 166, 247, 0.9);;
  margin-left: 8px;
  margin-right: 8px;
}

#pulseaudio {
  /*color: #89b4fa;*/
  color: rgba(137, 180, 250, 0.9);
  margin-left: 8px;
  margin-right: 8px;
}

#temperature {
  /*color: #f9e2af; */
  color: rgba(249, 226, 175, 0.9);
  margin-left: 8px;
  margin-right: 8px;
}

#battery {
  /*color: #a6e3a1;*/
  color: rgba(166, 227, 161, 0.9);
  margin-left: 8px;
  margin-right: 16px;
}

#battery.critical {
  /*color: #f38ba8;*/
  color: rgba(243, 139, 168, 0.9);
}


