* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#window {
    background-color: #18181b;
    border-radius: 5px;
}

#outer-box {
    background-color: #27272a;
    border-radius: 5px;
}

#input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3f3f46;
}

#entry {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    color: #777777;
    border-radius: 5px;
}

#entry:selected {
    background-color: #3f3f46;
    color: #ffffff;
}
